<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Simon R. W. Lance</h3>
    </div>

    <ul class="list-unstyled components">

        <!-- Home -->
        <li>
            <a href="/home">Home</a>
        </li>

        <!-- PhD -->
        <li>
            <a href="#phdSubmenu" data-toggle="collapse" aria-expanded="false">PhD</a>
            <ul class="collapse list-unstyled" id="phdSubmenu">
                <li>
                    <a href="/phd/about">About</a>
                </li>
                <li>
                    <a href="/phd/convection">Convection</a>
                </li>
                <li>
                    <a href="/phd/planets">Planets</a>
                </li>
            </ul>
        </li>

        <!-- WoW tools -->
        <li>
            <a href="/wow_tools">WoW Tools</a>
        </li>

        <!-- Contact info -->
        <li>
            <a href="/contact">Contact</a>
        </li>

    </ul>
</nav>
