{% extends "base.html" %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
{% include 'include/sidebar.html' %}
<h1>
    {% if data.character is not none %}
      {{data.character}}
    {% else %}
      Enter your character details
    {% endif %}
</h1>

<body>
  <form method="post">
    <input type="text" name="character" value="Character"/>
    <input type="text" name="realm" value="Realm"/>
    <input type="text" name="region" value="Region"/>
    <input type="submit">
  </form>
  <p>
    <br>
    Don't have a character yourself? Try one of these: <br>
    Thuridain | The Sha'tar | EU <br>
    Xormar | The Sha'tar | EU <br>
    Miema | Steamwheedle Cartel | EU <br>
  </p>


  <p>
    <br>
    Character: {{ data.character }} <br>
    Realm: {{ data.realm }} <br>
    Region: {{ data.region }}
  </p>
</body>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
