<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/static/css/base.css" />
    </head>

    <!-- <body>
        <div
        class="rounded-3 text-dark"
        style="background-color: #fffa; max-width: 800px"
        >
            <div class="container-fluid py-5">
                <h1 style="text-align: center">Welcome to my personal website</h1>
                <hr />
                <button class="btn btn-primary" onclick="location.href='/home'">
                    Enter
                </button>
            </div>
        </div>
    </body> -->
    
    <body>
    <div class="box">
        <H1>Welcome to my personal website</H1>
        <button class="button" onclick="location.href = '/home'">Enter</button>
    </div>
    </body>

</html>